step5_custom-soap-fault/src/main/resources/service-api-definition/Weather-Schemes/weather-datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema xmlns:s="http://www.w3.org/2001/XMLSchema"
          xmlns="http://www.codecentric.de/namespace/weatherservice/datatypes"
          xmlns:datatypes="http://www.codecentric.de/namespace/weatherservice/datatypes"
          xmlns:mime="http://www.w3.org/2005/05/xmlmime"
          targetNamespace="http://www.codecentric.de/namespace/weatherservice/datatypes"
          elementFormDefault="qualified"
          version="1.0">
      
      <s:import namespace="http://www.w3.org/2005/05/xmlmime"
                schemaLocation="w3c-xmlmime-definition.xsd"/>
      
      <s:complexType name="WeatherOverviewPdf">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="mime:base64Binary"/>
        </s:sequence>
      </s:complexType>
      
      <s:complexType name="WeatherDescription">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="WeatherID" type="s:short"/>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PictureURL" type="s:string"/>
        </s:sequence>
      </s:complexType>
      
      <s:complexType name="ArrayOfForecast">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Forecast" nillable="true" type="datatypes:Forecast"/>
        </s:sequence>
      </s:complexType>
      
      <s:complexType name="Forecast">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="WeatherID" type="s:short"/>
          <s:element minOccurs="0" maxOccurs="1" name="Desciption" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Temperatures" type="datatypes:temp"/>
          <s:element minOccurs="1" maxOccurs="1" name="ProbabilityOfPrecipiation" type="datatypes:POP"/>
        </s:sequence>
      </s:complexType>
      
      <s:complexType name="temp">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MorningLow" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DaytimeHigh" type="s:string"/>
        </s:sequence>
      </s:complexType>
      
      <s:complexType name="POP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nighttime" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Daytime" type="s:string"/>
        </s:sequence>
      </s:complexType>
      
      <s:simpleType name="ProductName">
      	<s:restriction base="s:string">
	      <s:enumeration value="ForecastBasic" />
	      <s:enumeration value="ForecastProfessional" />
	      <s:enumeration value="ForecastUltimateXL" />
	    </s:restriction>
      </s:simpleType>
      
</s:schema>